<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Home</title>
</head>

<body>
  <main>
    <section id="imagensFundo">
      <img src="/assets/img/Frame 1.png" alt="logo" value="" />
    </section>
    <section id="home">
      <h1>
        HOME
      </h1>
      <p>Bem Vindo!</p>
    </section>
  </main>

  <script src="/js/home.js"></script>
</body>

</html>
